* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #F5BFCF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #da89b4;
    transition: 0.3s;
}

a:hover {
    color: #be6494;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 82px;
    font-weight: normal;
    line-height: 80px;
    letter-spacing: 3px;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    line-height: 65px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 135px;
    padding: 0 20px;
}

.hamburger {
    display: none;
}

.header-contacts-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    font-weight: 300;
    font-size: 16px;
    padding: 10px;
}

.contacts-list-item {
    position: relative;
}

.contacts-list-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts-list-item:nth-child(1):before {
    background-image: url("./assets/svg/geo.svg");
}

.contacts-list-item:nth-child(2):before {
    background-image: url("./assets/svg/call.svg");
}

.contacts-list-item:nth-child(3):before {
    background-image: url("./assets/svg/clock.svg");
}

.contacts-list-item:nth-child(4):before {
    background-image: url("./assets/svg/msg.svg");
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 5px 4px 0;
    margin-left: auto;
    gap: 5px;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
}

.nav-link {
    border: 1px solid #da89b4;
    border-radius: 10px 10px 0 0;
    box-shadow: 4px 4px 0 #da89b4;
    padding: 10px;
    transition: 0.4s;
    color: #ffffff;
}

.nav-link:hover {
    color: #da89b4;
}

.section-hero {
    max-width: 100%;
    height: 627px;
    background-color: #1C69E2;
    background-image: url("./assets/images/hero-bg.png"),
                      url("./assets/images/hero-bg-large.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 90% 10%, 100%;
    background-size: contain, cover;
    padding-left: 150px;
}

.hero-title {
    max-width: 525px;
    padding-top: 160px;
}

.hero-text {
    font-size: 26px;
    line-height: 36px;
}

.section {
    padding: 40px 0 30px 0;
}

.section-about {
    color: #1C69E2;
}

.about-us {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 30px;
    color: #ffffff;
}

.activities-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding: 30px 0;
}

.activity-item {
    width: 350px;
    padding: 310px 15px 15px 15px;
    border: 1px solid #da89b4;
    border-radius: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 300px;
    box-shadow: 4px 4px 0 #da89b4;
}

.activity-item:nth-child(1) {
    background-image: url("./assets/svg/mind.svg");
}

.activity-item:nth-child(2) {
    background-image: url("./assets/svg/art.svg");
}

.activity-item:nth-child(3) {
    background-image: url("./assets/svg/active.svg");
    background-size: 310px;
}

.activity-item:nth-child(4) {
    background-image: url("./assets/svg/support.svg");
}

.activity-item:nth-child(5) {
    background-image: url("./assets/svg/ed.svg");
    background-size: 320px;
}

.activity-item:nth-child(6) {
    background-image: url("./assets/svg/culture.svg");
    background-size: 350px;
}

.activity-item:nth-child(7) {
    background-image: url("./assets/svg/conf.svg");
    background-size: 350px;
}

.activity-item:nth-child(8) {
    background-image: url("./assets/svg/sport.svg");
    background-size: 340px;
}

.activity-item:nth-child(9) {
    background-image: url("./assets/svg/music.svg");
    background-size: 320px;
}

.section-services {
    background-color: #1C69E2;
    color: #F5BFCF;
}

.h-centered {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.services-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 20px;
    gap: 75px;
}

.service-item {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100px 100px;
    max-width: 350px;
    padding-top: 140px;
    text-align: center;
}

.service-item:nth-child(1) {
    background-image: url("./assets/svg/psy.svg");
}

.service-item:nth-child(2) {
    background-image: url("./assets/svg/happy.svg");
}

.service-item:nth-child(3) {
    background-image: url("./assets/svg/law.svg");
}

.service-item-title {
    max-width: 275px;
    text-align: center;
    margin: 0 auto;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
}

.service-item-text {
    line-height: 32px;
    padding: 15px 0 20px 0;
}

.section-contacts {
    color: #1C69E2;
}

.find-us {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.map {
    width: 70%;
    height: 500px;
    border: none;
}

.building-photo {
    width: 300px;
}

.footer {
    background-color: #1C69E2;
    padding: 20px 0;
    font-size: 16px;
}

.footer a {
    color: #F5BFCF;
}

.footer a:hover {
    color: #da89b4;
}

.footer-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 20px;
}

.footer-navigation {
    list-style: none;
}

.footer-contacts-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.socials {
    width: 130px;
    align-self: center;
}

.social-text {
    font-weight: 500;
    text-align: center;
}

.social-buttons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    fill: #ffffff;
    transition: 0.3s;
}

.icon-tg {
    width: 35px;
    height: 35px;
}

.icon:hover {
    fill: #F5BFCF;
}

@media (max-width: 1200px) {

    .header-container {
        height: 160px;
    }

    .header-contacts-list {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .contacts-list-item {
        margin-left: 10px;
    }

    .nav-list {
        padding: 0 5px 0 0;
    }

    .nav-link {
        padding: 8px 6px;
        font-size: 18px;
    }

    .section-hero {
        padding-left: 80px;
        height: 615px;
    }

    .hero-title {
        font-size: 67px;
        line-height: 64px;
        max-width: 485px;
    }

    .hero-text {
        font-size: 24px;
    }

    section {
        padding: 30px 0 30px 0;
    }

    .about-us {
        font-size: 24px;
        padding: 0 10px;
        line-height: 32px;
    }

    .map {
        width: 100%;
    }

}

@media (max-width: 1010px) {

    html, 
    body {
        position: relative;
        overflow-x: hidden;
    }
    
    .hamburger {
        display: block;
        margin-right: auto;
        padding: 10px 20px;
        z-index: 2;
    }

    .hamburger .line {
        width: 50px;
        height: 3px;
        background-color: #ffffff;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .hamburger :hover {
        cursor: pointer;
    }

    .hamburger:hover .line {
        background-color: #da89b4;
    }
    
    .hamburger.is-active .line:nth-child(2) {
        opacity: 0;
    }
      
    .hamburger.is-active .line:nth-child(1) {
        -webkit-transform: translateY(11px) rotate(45deg);
        -ms-transform: translateY(11px) rotate(45deg);
        -o-transform: translateY(11px) rotate(45deg);
        transform: translateY(11px) rotate(45deg);
    }
      
    .hamburger.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-11px) rotate(-45deg);
        -ms-transform: translateY(-11px) rotate(-45deg);
        -o-transform: translateY(-11px) rotate(-45deg);
        transform: translateY(-11px) rotate(-45deg);
    }

    .nav {
        visibility: hidden;
        opacity: 0;
        left: -620px; 
        background-color: rgba(28, 104, 226, 0.9);
        border: 1px solid rgba(19, 69, 150, 0.8);
        border-radius: 0 20px 20px 0;
        box-shadow: 4px 4px 0 rgba(19, 69, 150, 0.7);   
    }
    
    .nav-open {
        visibility: visible;
        opacity: 100%;
        position: absolute;
        z-index: 1;
        width: 620px;
        left: 0;
        top: 0;
        transition: all 0.6s;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 100px 0 20px 50px;
        gap: 40px;
        height: 1024px;
    }

    .nav-link {
        border: none;
        box-shadow: none; 
        font-size: 30px;
    }

    .footer-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer-contacts-list {
        order: -1;
    }

    .copyright {
        order: 2;
    }

    .socials {
        order: -2;
    }
}

@media (max-width: 960px) {

    .section-hero {
        background-position: 99% 5%, 100%;
        background-size: 446px, cover;
        height: 540px;
        padding-left: 50px;
    }

    .hero-title {
        padding-top: 100px;
        font-size: 64px;
        max-width: 475px;
    }
}

@media (max-width: 768px) {

    .section-hero {
        padding-left: 35px;
        background-size: 420px, cover;
        height: 500px;
    }

    .hero-title {
        padding-top: 70px;
    }

    .hero-text {
        font-size: 20px;
    }

    .section {
        padding: 20px 0;
    }

    .footer-container {
        align-items: center;
        max-width: 380px;
        margin: 0 auto;
        text-align: center;
    }

    .footer-contacts-list {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 700px) {

    .header-container {
        height: 220px;
    }

    .section-hero {
        background-size: 345px, cover;
    }

    .hero-title {
        padding-top: 41px;
        font-size: 60px;
        max-width: 355px;
    }
}

@media (max-width: 580px) {

    .nav-list {
        height: 950px;
        padding: 100px 0 20px 40px;
    }

    .nav-link {
        font-size: 28px;
    }

    .section-hero {
        background-size: 322px, cover;
    }
        
}

@media (max-width: 500px) {

    .section-hero {
        background-size: 0px, cover;
    }

    .nav-open {
        width: 504px;
    }

    .nav-list {
        gap: 30px;
        font-size: 18px;
    }

    .nav-link {
        font-size: 26px;
    }
}

@media (max-width: 470px) {

    .header-container {
        height: 300px;
    }

    .header-contacts-list {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media (max-width: 358px) {

    .header-container {
        height: 315px;
    }

    .hero-title {
        padding-top: 0px;
        font-size: 57px;
        max-width: 355px;
    }

    .activity-item {
        width: 290px;
        background-size: 290px;
    }

    .activity-item:nth-child(3) {
        background-size: 290px;
    }

    .activity-item:nth-child(5) {
        background-size: 290px;
    }

    .activity-item:nth-child(6) {
        background-size: 290px;
    }

    .activity-item:nth-child(7) {
        background-size: 290px;
    }

    .activity-item:nth-child(8) {
        background-size: 290px;
    }

    .footer-container {
        max-width: 238px;
    }

}