* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #F5BFCF;
    font-family: 'Jost', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 2rem;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #da89b4;
    font-weight: 500;
    transition: 0.3s;
}

a:hover {
    color: #be6494;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    font-size: 80px;
    line-height: 100px;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
}

h3 {
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: inherit;
}

.header {
    height: 95px;
    background-image: url("./assets/images/hero-bg-large.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hamburger {
    display: none;
}

.header-contacts-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    list-style: none;
    padding: 15px 10px 0 10px;
    font-size: 1rem;
}

.contacts-list-item {
    position: relative;
}

.contacts-list-item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts-list-item-tel {
    display: block;
    line-height: 1.5rem;
}

.contacts-list-item:nth-child(1):before {
    background-image: url("./assets/svg/geo.svg");
}

.contacts-list-item:nth-child(2):before {
    background-image: url("./assets/svg/call.svg");
}

.contacts-list-item:nth-child(3):before {
    background-image: url("./assets/svg/clock.svg");
}

.contacts-list-item:nth-child(4):before {
    background-image: url("./assets/svg/msg.svg");
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.logo {
    background-image: url("./assets/svg/logo.svg");
    width: 85px;
    height: 85px;
}

.nav__list {
    display: flex;
    justify-content: center;
    padding: 0 4px 0 0;
    list-style: none;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 24px;
}

.list__item {
    border-right: 1px solid #ffffff;
    padding: 10px;
}

.list__item:nth-last-child(-n+1) {
    border-right: none;
}

.nav__link {
    transition: 0.4s;
    color: #ffffff;
}

.nav-link:hover {
    color: #da89b4;
}

.main {
    background-color: #F5BFCF;
}

.section__promo {
    max-width: 100%;
    height: 665px;
    min-height: 400px;
    background-color: #1C69E2;
    background-image: url("./assets/images/hero-bg-large.png");
    background-repeat: no-repeat;
    background-position: left -95px;
    background-size: cover;
}

.promo__info {
    height: inherit;
    padding-bottom: 30px;
    padding-top: 170px;
}

.promo__text {

}

.promo__title {
    line-height: 80px;
    width: 100%;
}

.promo-pic {
    width: 450px;
}

.section {
    padding: 40px 0 50px 0;
}

.section__about {

}

.about__description {
    color: #ffffff;
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 40px;
}

.reviews__title {
    max-width: 400px;
    margin: 0 auto 40px auto;
}

.slider {
    overflow: hidden;
    max-width: 100%;
}

.reviews__slider {
    margin-bottom: 40px;
}

.review__items {
    display: flex;
    width: 2000px;
    column-gap: 40px;
}

.review__item {
    width: 300px;
    height: 480px;
    border: 1px solid #da89b4;
    border-radius: 20px;
}

.review__img {
    height: 400px;
}

.btn {
    display: block;
    padding: 10px;
    border: 1px solid #da89b4;
    border-radius: 20px;
    transition: 0.3s;
    background-color: transparent;
    cursor: pointer;
}

.btn--main:hover .btn__link {
    color: #be6494;
}

.btn:hover {
    box-shadow: 1px 1px 4px #da89b4;
}

.btn--main {
    margin: 0 auto;
}

.btn__link {
    color: #ffffff;
    font-size: 32px;
}

.section__services {
    background-color: #1C69E2;
    color: #F5BFCF;
    font-size: 24px;
}

.section__title {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
    font-size: 64px;
}

.services__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 20px;
    gap: 75px;
}

.service__item {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100px 100px;
    max-width: 350px;
    padding-top: 140px;
    text-align: center;
}

.service__item:nth-child(1) {
    background-image: url("./assets/svg/psy.svg");
}

.service__item:nth-child(2) {
    background-image: url("./assets/svg/happy.svg");
}

.service__item:nth-child(3) {
    background-image: url("./assets/svg/law.svg");
}

.service__title {
    max-width: 275px;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 500;
    font-size: 32px;
}

.service__text {
    padding-top: 15px;
    font-size: 22px;
    line-height: 30px;
}

.section__news {
    color: #1C69E2;
}

.news__slider {
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.slider__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 14px 24px;
    background-position: center;
    background-image: url("./assets/svg/arrow.svg");
}

.slider__btn:nth-child(1) {
    transform: scale(-1, 1);
}

.slider__btn:nth-child(1):hover {
    box-shadow: -1px 1px 4px #da89b4;
}

.news__item {
    padding: 0 20px;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 20% 1fr;
}

.news__img {
    width: 545px;
    grid-area: 1 / 1 / 4 / 2;
    justify-self: center;
}

.news__date {
    font-size: 20px;
    color: #be6494;
    grid-area: 1 / 2 / 2 / 3;
}

.news-title {
    font-size: 32px;
    color: #1C69E2;
    grid-area: 2 / 2 / 3 / 3;
}

.news__description {
    font-size: 24px;
    color: #ffffff;
    grid-area: 3 / 2 / 4 / 3;
}

.section__gallery {
    background-color: #ffffff;
    color: #1C69E2;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 430px);
    grid-auto-rows: 10px;
    justify-content: center;
    gap: 25px;
    margin: 40px 0;
}

.gallery__img {
    border-radius: 16px;
    width: 430px;
    transition: 0.3s;
}

.gallery__img:hover {
    transform: scale(1.1);
}

.gallery__item {
    display: inline-block;
    overflow: hidden;
    border-radius: 16px;
}

.gallery__item--h {
    grid-row-end: span 10;
}

.gallery__item--v {
    grid-row-end: span 17;
}

.btn__gallery {
    border: 1px solid #1C69E2;
}

.btn__gallery:hover {
    box-shadow: 1px 1px 4px #1C69E2;
}

.btn__link--blue {
    color: #1C69E2;
}

.section__contacts {
    color: #1C69E2;
}

.find-us {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.map {
    width: 70%;
    height: 500px;
    border: none;
}

.building-photo {
    width: 300px;
}

.section-documents {
    color: #1C69E2;
    min-height: calc(100vh - 305px);
    padding: 10px 20px;
}

.docs-list {
    list-style: none;
    padding: 10px 20px;
}

.section-organization {
    padding: 10px 20px;
    color: #1C69E2;
}

.org-description {
    padding: 10px 0;
    text-align: center;
}

table,
td {
    border: 1px solid #1C69E2;
    border-collapse: collapse;
    padding: 10px 20px;
    vertical-align: middle;
}

.bold {
    font-weight: 500;
}

.org-table {
    margin: 0 auto;
}

.ph-list-items {
    margin-left: 20px;
}

.section-schedule {
    padding: 10px 20px;
    color: #1C69E2;
    min-height: calc(100vh - 305px);
}

.section-news {
    padding: 10px 20px;
    color: #1C69E2;
}

.news-item {
    margin: 20px 0;
    border: 1px solid #be6494;
    border-radius: 20px;
    box-shadow: 4px 4px 0 hsla(328, 41%, 57%, 0.7);
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.news-date {
    padding: 10px;
    font-size: 1rem;
    color: #be6494;
}

.news-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    opacity: 0.9;
}

.news-title {
    padding-left: 10px;
}

.news-text {
    padding: 10px 0 20px 10px;
}

.footer {
    background-color: #1C69E2;
    padding: 40px 0 20px 0;
    font-size: 1rem;
}

.footer a {
    color: #F5BFCF;
}

.footer a:hover {
    color: #da89b4;
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
}

.copyright {
    order: 4;
    width: 100%;
    text-align: center;
    opacity: 0.75;
}

.footer-navigation {
    list-style: none;
}

.footer-contacts-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1280px) {

    .header-contacts-list {
        flex-wrap: wrap;
    }

    .contacts-list-item {
        margin-left: 20px;
        font-size: 0.9rem;
    }

    .nav-list {
        padding: 0 5px 0 0;
        font-size: 1.1rem;
    }

    .hero-text {
        padding-top: 100px;
        font-size: 48px;
    }

    .promo-container {
        padding: 40px 50px 0 60px;
    }

    .promo-pic {
        width: 400px;
    }

    .map {
        width: 100%;
    }

}

@media (max-width: 1090px) {

    .header-container {
        height: 155px;
    }

    .bird-pages {
        margin-top: 8px;
        width: 85px;
        background-image: url("./assets/images/logo-brighter.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .promo-text {
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    .promo-title {
        font-size: 6.7rem;
    }

    .promo-pic {
        width: 350px;
    }

    .slider-img {
        height: 300px;
    }

    .footer-container {
        justify-content: space-between;
        padding: 0 30px;
    }

}

@media (max-width: 970px) {

    html,
    body {
        position: relative;
        overflow-x: hidden;
    }

    .upper-header-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-container {
        row-gap: 0;
    }

    .hamburger {
        display: block;
        padding: 20px 0 0 0;
        z-index: 2;
    }

    .hamburger .line {
        width: 50px;
        height: 3px;
        background-color: #ffffff;
        display: block;
        margin: 8px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .hamburger :hover {
        cursor: pointer;
    }

    .hamburger:hover .line {
        background-color: #da89b4;
    }

    .hamburger.is-active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.is-active .line:nth-child(1) {
        -webkit-transform: translateY(11px) rotate(45deg);
        -ms-transform: translateY(11px) rotate(45deg);
        -o-transform: translateY(11px) rotate(45deg);
        transform: translateY(11px) rotate(45deg);
    }

    .hamburger.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-11px) rotate(-45deg);
        -ms-transform: translateY(-11px) rotate(-45deg);
        -o-transform: translateY(-11px) rotate(-45deg);
        transform: translateY(-11px) rotate(-45deg);
    }

    .nav {
        visibility: hidden;
        opacity: 0;
        right: -620px;
        background-color: rgba(28, 104, 226, 0.9);
        border: 1px solid rgba(19, 69, 150, 0.8);
        border-radius: 20px 0 0 20px;
        height: 100vh;
    }

    .nav-open {
        visibility: visible;
        opacity: 100%;
        position: absolute;
        z-index: 1;
        width: 620px;
        right: 0;
        top: 0;
        transition: all 0.6s;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 65px 0 20px 50px;
        gap: 35px;
    }

    .nav-list-item {
        border-right: 0;
    }

    .nav-link {
        font-size: 2.2rem;
    }

    .section-promo {
        height: 620px;
    }

    .promo-text {
        font-size: 3.1rem;
        line-height: 4rem;
    }

    .promo-title {
        font-size: 6rem;
        line-height: 7rem;
    }

    .promo-pic {
        width: 310px;
    }

    .slider-img {
        height: 250px;
    }

    .header-contacts-list {
        max-width: 700px;
        column-gap: 30px;
    }
}

@media (max-width: 860px) {

    .logo {
        display: block;
        margin-top: 8px;
        width: 85px;
        background-image: url("./assets/images/logo-brighter.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .section-promo {
        height: calc(100vh - 155px);
    }

    .promo-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .promo-container {
        padding: 30px 10px 0 30px;
    }

    .promo-text {
        max-width: 100%;
    }

    .promo-pic {
        display: none;
    }
}

@media (max-width: 768px) {

    .section {
        padding: 20px;
    }

    table,
    td {
    padding: 8px 10px;
    }

    .org-table {
        font-size: 16px;
    }

    .h-centered {
        font-size: 4rem;
    }
}

@media (max-width: 630px) {

    .header-container {
        height: 130px;
    }

    .section-promo {
        height: calc(100vh - 130px);
        background-position: 40%;
    }

    .nav {
        border-radius: 0 0 0 0;
    }

    .item-hidden {
        display: none;
    }

    .slider-img {
        height: 220px;
    }

}

@media (max-width: 590px) {

    .nav-list {
        padding: 65px 0 20px 40px;
        gap: 10px;
    }

    .nav-link {
        font-size: 1.4rem;
    }

    .nav-open {
        width: 100%;
    }

    .promo-container {
        padding: 10px 10px 0 30px;
    }

    .promo-text {
        font-size: 2.9rem;
        line-height: 3.2rem;
    }
}

@media (max-width: 590px) {

    .header-container {
        height: 160px;
    }

    .section {
        padding: 10px;
    }

    .news-title {
        font-size: 1.3rem;
    }

    .news-text {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
}

@media (max-width: 480px) {

    .header-contacts-list {
        flex-direction: column;
    }

    .section-promo {
        height: calc(100vh - 160px);
    }

    .promo-text {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .promo-text-short {
        display: inline;
    }

    .promo-text-long {
        display: none;
    }

    .promo-title {
        font-size: 5rem;
        line-height: 5rem;
    }

    .h-centered {
        font-size: 3.4rem;
    }

    .about-us {
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding: 0 0 20px 10px;
    }

    .section-services {
        font-size: 1.3rem;
    }

    .org-table {
        font-size: 12px;
    }

    .section-news {
        padding: 0;
    }

    .news-item {
        box-shadow: none;
    }

}

@media (max-width: 380px) {

    .slider-img {
        height: 200px;
    }
}

@media (orientation: landscape) and (max-width: 860px) {

    .section-promo {
    height: calc(100% - 155px);
    }

}

@media (orientation: landscape) and (max-width: 630px) {

    .section-promo {
    height: calc(100% - 130px);
    }
}
